In [1]:
import pandas as pd
import numpy as np

In [28]:
df = pd.read_csv("/Users/tanya-mac/Desktop/Health Risk Predictor from Lifestyle & Medical History/data/processed/Health_risk_prediction.csv")

In [29]:
df.head()

,Age,gender,ethnicity,education_level,income_level,employment_status,smoking_status,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,...,glucose_postprandial,insulin_level,hba1c,diabetes_risk_score,diabetes_stage,diagnosed_diabetes,hypertension_stage,heart_disease_risk,obesity_stage,cholesterol_issue
0,58,Male,Asian,Highschool,Lower-Middle,Employed,Never,0,215,5.7,...,236,6.36,8.18,29.6,Type 2,1,Pre-hypertension,0,Obese,1
1,52,Female,White,Highschool,Middle,Employed,Former,1,143,6.7,...,150,2.00,5.63,23.0,No Diabetes,0,Normal,0,Normal,0
2,60,Male,Hispanic,Highschool,Middle,Unemployed,Never,1,57,6.4,...,195,5.07,7.51,44.7,Type 2,1,Normal,0,Normal,0
3,74,Female,Black,Highschool,Low,Retired,Never,0,49,3.4,...,253,5.28,9.03,38.2,Type 2,1,Hypertension,0,Overweight,0
4,46,Male,White,Graduate,Middle,Retired,Never,1,109,7.2,...,184,12.74,7.20,23.5,Type 2,1,Normal,0,Normal,0

In [30]:
df = df.rename(columns={
    "diagnosed_diabetes": "diabetes_risk",
    "hypertension_stage": "hypertension_risk",
    "heart_disease_risk": "heart_disease_risk",
    "obesity_stage": "obesity_risk",
    "cholesterol_issue": "cholesterol_imbalance"
})

In [31]:
df.head()

,Age,gender,ethnicity,education_level,income_level,employment_status,smoking_status,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,...,glucose_postprandial,insulin_level,hba1c,diabetes_risk_score,diabetes_stage,diabetes_risk,hypertension_risk,heart_disease_risk,obesity_risk,cholesterol_imbalance
0,58,Male,Asian,Highschool,Lower-Middle,Employed,Never,0,215,5.7,...,236,6.36,8.18,29.6,Type 2,1,Pre-hypertension,0,Obese,1
1,52,Female,White,Highschool,Middle,Employed,Former,1,143,6.7,...,150,2.00,5.63,23.0,No Diabetes,0,Normal,0,Normal,0
2,60,Male,Hispanic,Highschool,Middle,Unemployed,Never,1,57,6.4,...,195,5.07,7.51,44.7,Type 2,1,Normal,0,Normal,0
3,74,Female,Black,Highschool,Low,Retired,Never,0,49,3.4,...,253,5.28,9.03,38.2,Type 2,1,Hypertension,0,Overweight,0
4,46,Male,White,Graduate,Middle,Retired,Never,1,109,7.2,...,184,12.74,7.20,23.5,Type 2,1,Normal,0,Normal,0

In [32]:
df.drop(columns=["diabetes_risk_score", "diabetes_stage"], inplace=True)

In [33]:
df.shape

(97297, 33)

In [34]:
print(df["diabetes_risk"].value_counts(),"\n\n") 
print(df["hypertension_risk"].value_counts(),"\n\n") 
print(df["heart_disease_risk"].value_counts(),"\n\n")
print(df["obesity_risk"].value_counts(),"\n\n")
print(df["cholesterol_imbalance"].value_counts())

diabetes_risk
1    58382
0    38915
Name: count, dtype: int64


hypertension_risk
Normal              57438
Pre-hypertension    30957
Hypertension         8902
Name: count, dtype: int64


heart_disease_risk
0    90963
1     6334
Name: count, dtype: int64


obesity_risk
Overweight    44744
Normal        41459
Obese         11094
Name: count, dtype: int64


cholesterol_imbalance
0    81072
1    16225
Name: count, dtype: int64

In [35]:
from sklearn.preprocessing import LabelEncoder

le_hyp = LabelEncoder()
le_obs = LabelEncoder()

df['hypertension_risk'] = le_hyp.fit_transform(df['hypertension_risk'])
df['obesity_risk'] = le_obs.fit_transform(df['obesity_risk'])

df.head()

,Age,gender,ethnicity,education_level,income_level,employment_status,smoking_status,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,...,triglycerides,glucose_fasting,glucose_postprandial,insulin_level,hba1c,diabetes_risk,hypertension_risk,heart_disease_risk,obesity_risk,cholesterol_imbalance
0,58,Male,Asian,Highschool,Lower-Middle,Employed,Never,0,215,5.7,...,145,136,236,6.36,8.18,1,2,0,1,1
1,52,Female,White,Highschool,Middle,Employed,Former,1,143,6.7,...,30,93,150,2.00,5.63,0,1,0,0,0
2,60,Male,Hispanic,Highschool,Middle,Unemployed,Never,1,57,6.4,...,36,118,195,5.07,7.51,1,1,0,0,0
3,74,Female,Black,Highschool,Low,Retired,Never,0,49,3.4,...,140,139,253,5.28,9.03,1,0,0,2,0
4,46,Male,White,Graduate,Middle,Retired,Never,1,109,7.2,...,160,137,184,12.74,7.20,1,1,0,0,0

In [36]:
print(df["diabetes_risk"].value_counts(),"\n\n") 
print(df["hypertension_risk"].value_counts(),"\n\n") 
print(df["heart_disease_risk"].value_counts(),"\n\n")
print(df["obesity_risk"].value_counts(),"\n\n")
print(df["cholesterol_imbalance"].value_counts())

diabetes_risk
1    58382
0    38915
Name: count, dtype: int64


hypertension_risk
1    57438
2    30957
0     8902
Name: count, dtype: int64


heart_disease_risk
0    90963
1     6334
Name: count, dtype: int64


obesity_risk
2    44744
0    41459
1    11094
Name: count, dtype: int64


cholesterol_imbalance
0    81072
1    16225
Name: count, dtype: int64

In [38]:
df.to_csv("final_data.csv", index=False)