In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/Users/tanya-mac/Desktop/Health Risk Predictor from Lifestyle & Medical History/data/raw/final_data.csv')

In [4]:
df.head()

,Age,gender,ethnicity,education_level,income_level,employment_status,smoking_status,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,...,triglycerides,glucose_fasting,glucose_postprandial,insulin_level,hba1c,diabetes_risk,hypertension_risk,heart_disease_risk,obesity_risk,cholesterol_imbalance
0,58,Male,Asian,Highschool,Lower-Middle,Employed,Never,0,215,5.7,...,145,136,236,6.36,8.18,1,2,0,1,1
1,52,Female,White,Highschool,Middle,Employed,Former,1,143,6.7,...,30,93,150,2.00,5.63,0,1,0,0,0
2,60,Male,Hispanic,Highschool,Middle,Unemployed,Never,1,57,6.4,...,36,118,195,5.07,7.51,1,1,0,0,0
3,74,Female,Black,Highschool,Low,Retired,Never,0,49,3.4,...,140,139,253,5.28,9.03,1,0,0,2,0
4,46,Male,White,Graduate,Middle,Retired,Never,1,109,7.2,...,160,137,184,12.74,7.20,1,1,0,0,0

In [5]:
df.shape

(97297, 33)

In [6]:
# Your mapping dictionary
targets = {
    "diabetes_risk": {0: 20, 1: 80},
    "hypertension_risk": {0: 20, 1: 50, 2: 80},
    "heart_disease_risk": {0: 20, 1: 80},
    "obesity_risk": {0: 20, 1: 50, 2: 80},
    "cholesterol_imbalance": {0: 20, 1: 80}
}

# Apply mappings in-place
for col, mapping in targets.items():
    df[col] = df[col].map(mapping)

In [7]:
df.head()

,Age,gender,ethnicity,education_level,income_level,employment_status,smoking_status,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,...,triglycerides,glucose_fasting,glucose_postprandial,insulin_level,hba1c,diabetes_risk,hypertension_risk,heart_disease_risk,obesity_risk,cholesterol_imbalance
0,58,Male,Asian,Highschool,Lower-Middle,Employed,Never,0,215,5.7,...,145,136,236,6.36,8.18,80,80,20,50,80
1,52,Female,White,Highschool,Middle,Employed,Former,1,143,6.7,...,30,93,150,2.00,5.63,20,50,20,20,20
2,60,Male,Hispanic,Highschool,Middle,Unemployed,Never,1,57,6.4,...,36,118,195,5.07,7.51,80,50,20,20,20
3,74,Female,Black,Highschool,Low,Retired,Never,0,49,3.4,...,140,139,253,5.28,9.03,80,20,20,80,20
4,46,Male,White,Graduate,Middle,Retired,Never,1,109,7.2,...,160,137,184,12.74,7.20,80,50,20,20,20

In [ ]:
df.shape

(97297, 33)

In [11]:
df.to_csv("/Users/tanya-mac/Desktop/Health Risk Predictor from Lifestyle & Medical History/data/processed/model_dataset.csv", index=False)

In [10]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97297 entries, 0 to 97296
Data columns (total 33 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Age                                 97297 non-null  int64
 1   gender                              97297 non-null  object
 2   ethnicity                           97297 non-null  object
 3   education_level                     97297 non-null  object
 4   income_level                        97297 non-null  object
 5   employment_status                   97297 non-null  object
 6   smoking_status                      97297 non-null  object
 7   alcohol_consumption_per_week        97297 non-null  int64
 8   physical_activity_minutes_per_week  97297 non-null  int64
 9   diet_score                          97297 non-null  float64
 10  sleep_hours_per_day                 97297 non-null  float64
 11  screen_time_hours_per_day           97297 non-null  float64
 12  family_history_diabetes             97297 non-null  int64
 13  hypertension_history                97297 non-null  int64
 14  cardiovascular_history              97297 non-null  int64
 15  bmi                                 97297 non-null  float64
 16  waist_to_hip_ratio                  97297 non-null  float64
 17  systolic_bp                         97297 non-null  int64
 18  diastolic_bp                        97297 non-null  int64
 19  heart_rate                          97297 non-null  int64
 20  cholesterol_total                   97297 non-null  int64
 21  hdl_cholesterol                     97297 non-null  int64
 22  ldl_cholesterol                     97297 non-null  int64
 23  triglycerides                       97297 non-null  int64
 24  glucose_fasting                     97297 non-null  int64
 25  glucose_postprandial                97297 non-null  int64
 26  insulin_level                       97297 non-null  float64
 27  hba1c                               97297 non-null  float64
 28  diabetes_risk                       97297 non-null  int64
 29  hypertension_risk                   97297 non-null  int64
 30  heart_disease_risk                  97297 non-null  int64
 31  obesity_risk                        97297 non-null  int64
 32  cholesterol_imbalance               97297 non-null  int64
dtypes: float64(7), int64(20), object(6)
memory usage: 51.2 MB